<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a routerLink="/" class="navbar-brand">
      <img class="navbar-brand" height="32" src="assets/logo.png" alt="">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a routerLink="/home" class="nav-item nav-link">Home</a>
            <a routerLink="about" class="nav-item nav-link">about</a>
            <a routerLink="/collection" class="nav-item nav-link">collection</a>
            <a routerLink="/dashboard" class="nav-item nav-link">dashboard</a>
        </div>
        <ul class="navbar-nav ml-auto">
            <li *ngIf="(loginStatus | async )"><a *ngIf="(name | async ) as name " id="username" class="nav-item nav-link " routerLink="profile"><span  class="glyphicon glyphicon-user"></span> {{ name | lowercase }}  </a></li>
            <li *ngIf="!(loginStatus | async ) else showLogin"><a id="sign" class="nav-item nav-link " (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            <ng-template  #showLogin ><li><a id="sign" class="nav-item nav-link " routerLink="register" (click)="login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li></ng-template>
        </ul>
    </div>
</nav>
