
    <div class="container panel details data-validator">

        <div style="display:none" id="success" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="alert-heading">success!</h4>
            <p>data uploaded successfully</p>
            <hr>
        </div>

        <div style="display:none" id="error" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="alert-heading">error!</h4>
            <p class="emsg">please fill all the fields.</p>
            <hr>
        </div>


        <h3 class="panel-heading">Yield Present In Maharashtra Now Days</h3>
        <table style="border-collapse: collapse" class="table table-responsive" id="farmer_data ">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name Of Farmer</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Produce</th>
                    <th scope="col">Yeild</th>
                    <th scope="col">Cost of Cultivation</th>
                    <th scope="col">Catagory</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><input data class="form-control" type="text " id="name_of_farmer" required></td>
                    <td><input class="form-control" type="number " id="contact" required></td>
                    <td><input class="form-control" type="text " id="produce" required></td>
                    <td><input class="form-control" type="text" id="quantity" required></td>
                    <td><input class="form-control" type="number " id="cost_of_cultivation" required></td>
                    <td>
                        <select class="form-control" id="type">
                          <option value="fruits">Fruits</option>
                          <option value="cereals">Cereals</option>
                          <option value="grains">Grains</option>
                          <option value="vegetables">Vegetables</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success" onclick="submitData()">New Entry</button>
    </div>
