<!--iframe-->
    <div class="justify-content-center jumbotron panel panel-default body-iframe">
        <div class="container kolumn">
            <div class="col col-sm-6 col-md-4">
                <a href="https://ieeepunesection.org/" target="_blank">
                    <img class="thumbnail" src="assets/IEEE_LOGO.jpeg" alt="IEEE LOGO">
                </a>
            </div>
            <div class="col col-sm-6 col-md-4">
                <h2 class="caption">Public Advice by World Health Organization(WHO)</h2>
            </div>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item body-iframe" src="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" frameborder="0">iframe does not support your browser</iframe>
        </div>
    </div>
